/* Style inputs with type="text", select elements and textareas */
input[type=text], select, textarea {
    width: 30%; /* Full width */
    padding: 12px; /* Some padding */ 
    border: 1px solid #ccc; /* Gray border */
    border-radius: 4px; /* Rounded borders */
    box-sizing: border-box; /* Make sure that padding and width stays in place */
    margin: 20px;
    resize: vertical /* Allow the user to vertically resize the textarea (not horizontally) */
  }
  
  .container {
    border-radius: 5px;
    background-color: #f2f2f2;
    padding: 20px;
  }